<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material"  id ="signupform">
        <h3 class="box-title m-b-20">Sign Up</h3>
        <!--Fields to add : Name, Country(Should be select with all countries), Contact Number, Role, Confirm Password (For Validation refer AAF Proj)-->
      <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control"  type="text" placeholder="Name" name="name" required [(ngModel)]="name" >
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control"type="email" placeholder="Email" name="email" required [(ngModel)]="email">
          </div>
        </div>
     <div class="form-group">  
          <div class="col-xs-12">
              <select class="custom-select" id="inlineFormCustomSelect" name="role" [(ngModel)]="role" >
                  <option selected value="" disabled>Choose Role...</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Patient">Patient</option>
              </select>
          </div>
      </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Password" name="password" required [(ngModel)]="password">
          </div>
        </div>
      <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Confirm Password" name="confirm" required [(ngModel)]="confirm" >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-success p-t-0">
              <input id="checkbox-signup" type="checkbox"  class="filled-in chk-col-light-blue">
              <label for="checkbox-signup"> I agree to all <a href="javascript:void(0)">Terms and Conditions</a></label>
            </div>
          </div>
        </div>
        <div class="form-group text-center p-b-20">
          <div class="col-xs-12">
           <button  class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" style="color:#fff;" [disabled]="!name || !email || !password || !role" (click)="signup()">Sign Up</button>
        </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            Already have an account? <a class="text-info m-l-5" [routerLink]="['/authentication/login']"><b>Sign In</b></a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
