<div class="row" *ngIf="curuserdetails">
    <div class="col-12" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Doctor'">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Connection Request </h4>
            <h6 class="card-subtitle">Doctors who wants to access your data</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Hospital</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Herman Beck</td>
                            <td>Hospital 1</td>
                            <td>
                            for Health research
                            </td>
                            <td>                <button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i> </button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i> </button></td>
                        </tr>
                        <tr>
                            <td>Herman Beck</td>
                            <td>Hospital 1</td>
                            <td>
                            for Health research
                            </td>
                            <td>                <button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i> </button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i> </button></td>
                        </tr>
                        <tr>
                            <td>Herman Beck</td>
                            <td>Hospital 1</td>
                            <td>
                            for Health research
                            </td>
                            <td>                <button type="button" class="btn btn-success btn-circle"><i class="fa fa-check"></i> </button>
                                <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i> </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>