<div class="row" *ngIf="curuserdetails">
    <div class="col-12" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Doctor'">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Connection Request </h4>
            <h6 class="card-subtitle">Doctors who wants to access your data</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Hospital</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <p *ngIf="userrequests.length==0">No Pending connections requests found</p>
                        <tr *ngFor="let i of userrequests;">
                            <td>{{getname(i.sender)}}</td>
                            <td>{{gethospital(i.sender)}}</td>
                            <td>
                            {{i.reason}}
                            </td>
                            <td><button type="button" class="btn btn-success" (click)="acceptrequest(i.$key)">Allow</button>
                                <button type="button" class="btn btn-danger" (click)="denyrequest(i.$key)">Deny</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Denied Requests </h4>
            <h6 class="card-subtitle">Requests by doctor which were denied</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Hospital</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <p *ngIf="denieduserrequests.length==0">No Denied connections requests found</p>
                        <tr *ngFor="let i of denieduserrequests;">
                            <td>{{getname(i.sender)}}</td>
                            <td>{{gethospital(i.sender)}}</td>
                            <td>
                            {{i.reason}}
                            </td>
                            <td><button type="button" class="btn btn-warning" (click)="reconsider(i.$key)">Reconsider</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>