<div class="row"  *ngIf="curuserdetails">
    <div class="col-lg-4"  *ngIf="curuserdetails.role !='Doctor' &&  curuserdetails.role !='Admin'">
        <div class="card">
            <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">
            <div class="card-body">
                <ul class="list-inline font-14">
                    <li class="p-l-0">20 May 2016</li>
                    <li><a href="javascript:void(0)" class="link">Doctor Name</a></li>
                </ul>
                <h3 class="font-normal">Hospital Name</h3>
                <p class="m-b-0 m-t-10">Reason for Access</p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Revoke Access</button>
            </div>
        </div>
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">
            <div class="card-body">
                <ul class="list-inline font-14">
                    <li class="p-l-0">20 May 2016</li>
                    <li><a href="javascript:void(0)" class="link">Doctor Name</a></li>
                </ul>
                <h3 class="font-normal">Hospital Name</h3>
                <p class="m-b-0 m-t-10">Reason for Access</p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Revoke Access</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <img class="card-img-top img-responsive" src="assets/images/big/img1.jpg" alt="Card image cap">
            <div class="card-body">
                <ul class="list-inline font-14">
                    <li class="p-l-0">20 May 2016</li>
                    <li><a href="javascript:void(0)" class="link">Doctor Name</a></li>
                </ul>
                <h3 class="font-normal">Hospital Name</h3>
                <p class="m-b-0 m-t-10">Reason for Access</p>
                <button class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Revoke Access</button>
            </div>
        </div>
    </div>
</div>