<div class="row" *ngIf="curuserdetails">
    <div class="col-md-12" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Patient'">
     <div class="card">
    <div class="card-body">
    <h3 class="card-title">Patient Name</h3>
     <h6 class="card-subtitle">Access provided on 31/07/2018</h6>
     <button type="submit"  class="btn btn-success waves-effect waves-light m-r-10"  (click)="open2(content)" style="position:absolute;right:50%;top:7%;">Add New Record</button>  
    </div>
     <div class="card-body">
            <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Add New Record</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
            <div class="form-group ">
                <div class="col-12">
                    <textarea class="form-control" type="text" placeholder="" name="record"  [(ngModel)]="record"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="addrecord()">Submit</button>
        </form>
      </div>
    </ng-template>

        </div>
        <div class="col-8">
        <div class="card">
            <div class="card-body">
               Record one added by me
            </div>
        </div>
        </div>
        <div class="col-8">
        <div class="card">
            <div class="card-body">
             Record two added by me  
            </div>
        </div>
        </div>
        </div>
    </div>
</div>