<div class="row" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Doctor'">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ul class="timeline">


                    <li>
                        <div class="timeline-badge danger">1</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Record 1 - May 18</h4>
                            </div>
                            <div class="timeline-body">
                                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-info">View Record</button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                            <div class="timeline-badge success">2</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Record 2 - May 18</h4>
                            </div>
                            <div class="timeline-body">
                                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-info">View Record</button>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info">3 </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Record 3 - May 18</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-info">View Record</button>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">4</div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Record 4 - May 18</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati, quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque eaque.</p>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-info">View Record</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>