<div class="row" *ngIf="curuserdetails">
    <!-- column -->
    <div class="col-lg-12" *ngIf="curuserdetails.role !='Doctor' &&  curuserdetails.role !='Patient'">
        <div class="card">
            <div class="card-body" *ngIf="dttabrefresh">
                <h4 class="card-title">All Doctors</h4>
                <table datatable [dtOptions]="dtOptions" class="table table-striped" style="margin-top: 2%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Hospital</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of alldoctors">
                          <td>{{i.name}}</td>
                          <td>{{i.email}}</td>
                          <td>{{i.phoneno}}</td>
                          <td>{{i.hospitalname}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>