<div class="row" >
    <!-- Column -->
    <div [ngClass]="{'col-lg-4 col-xlg-3 col-md-5':curuserdetails.role !== 'Admin','col-12':curuserdetails.role === 'Admin'}">
        <div class="card">
            <div class="col-12">
                    <!--[ngStyle]="{'width': 753 x 583px}"-->
                <div class="m-t-30 text-center" > <img src="assets/images/users/5.jpg" class="img-circle" width="150" />
                    <h4 class="card-title m-t-10">{{curuserdetails.name}}</h4>
                   <h6 class="card-subtitle">{{curuserdetails.email}}</h6>
                </div>
            </div>
            <div>
                <hr> </div>
                <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                                <h4 class="modal-title">Edit Profile</h4>
                                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                <div class="modal-body">
                    <form class="form">
                            <div class="form-group">
                                <div class="col-xs-12">
                                  <input class="form-control"  type="text" placeholder="Name" name="name" required [(ngModel)]="name" >
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" placeholder="Enter Phoneno" name="phoneno"  [(ngModel)]="phoneno">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" type="text" placeholder="Enter Address" name="Address"  [(ngModel)]="Address"> 
                                </div>
                              </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" (click)="updateprofile()">Update</button>
                    </form>
                  </div>
                </ng-template>
            <div class="card-body"> <small class="text-muted">Email address </small>
                <h6 *ngIf="curuserdetails.email">{{curuserdetails.email}}</h6> 
                <small class="text-muted p-t-30 db">Phone</small>
                <h6 *ngIf="curuserdetails.phoneno">{{curuserdetails.phoneno}}</h6> <h6 *ngIf="!curuserdetails.phoneno">Not Set</h6> 
                <small class="text-muted p-t-30 db">Address</small>
                <h6 *ngIf="curuserdetails.Address">{{curuserdetails.Address}}</h6> <h6 *ngIf="!curuserdetails.Address">Not Set</h6> 
                <br/>
            </div>
            <button type="submit"  class="btn btn-success waves-effect waves-light m-r-10" (click)="edit()">Edit</button>
        </div>
    </div>
    <!--<tr  *ngFor="let i of profilelist">
        <td>{{i.profile}}</td>
    </tr>-->
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7" *ngIf="curuserdetails.role !='Admin'">
        <div class="card">
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Data by User Role (tab active by logged in user)</h3>
                                <ngb-tabset>
                                  <ngb-tab title="Past Records" *ngIf="curuserdetails.role =='Patient'">
                                    <ng-template ngbTabContent>
                                            <div class="card-body">
                                                    <div class="profiletimeline">
                                                        <div class="sl-item">
                                                            <div class="sl-left"> <img src="assets/images/users/1.jpg" alt="user" class="img-circle" /> </div>
                                                            <div class="sl-right">
                                                                <div><a href="#" class="link">Doctor Name</a> <span class="sl-date">April 2018</span>
                                                                    <p>Report generated by Doc Name</p>
                                                                    <div class="row">
                                                                        <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img1.jpg" class="img-responsive radius" /></div>
                                                                        <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img2.jpg" class="img-responsive radius" /></div>
                                                                        <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img3.jpg" class="img-responsive radius" /></div>
                                                                        <div class="col-lg-3 col-md-6 m-b-20"><img src="assets/images/big/img4.jpg" class="img-responsive radius" /></div>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="sl-item">
                                                            <div class="sl-left"> <img src="assets/images/users/2.jpg" alt="user" class="img-circle" /> </div>
                                                            <div class="sl-right">
                                                                <div> <a href="#" class="link">Doctor Name</a> <span class="sl-date">May 2018</span>
                                                                    <div class="m-t-20 row">
                                                                        <div class="col-md-3 col-xs-12"><img src="assets/images/big/img1.jpg" alt="user" class="img-responsive radius" /></div>
                                                                        <div class="col-md-9 col-xs-12">
                                                                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> </div>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="sl-item">
                                                            <div class="sl-left"> <img src="assets/images/users/3.jpg" alt="user" class="img-circle" /> </div>
                                                            <div class="sl-right">
                                                                <div><a href="#" class="link">Doctor Name</a> <span class="sl-date">June 2018</span>
                                                                    <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper </p>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    </ng-template>
                                  </ngb-tab>
                                  <ngb-tab *ngIf="curuserdetails.role =='Doctor'">
                                    <ng-template ngbTabTitle><b>Doctor</b></ng-template>
                                    <ng-template ngbTabContent>
                                            <div class="card-body" >
                                                    <div class="row">
                                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Hospital Name</strong>
                                                            <br>
                                                            <p class="text-muted">Johnathan Deo</p>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Hospital Mobile</strong>
                                                            <br>
                                                            <p class="text-muted">(123) 456 7890</p>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Hospital Email</strong>
                                                            <br>
                                                            <p class="text-muted">mail@mail.com</p>
                                                        </div>
                                                        <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                                                            <br>
                                                            <p class="text-muted">London</p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <h4>Hospital Description</h4>
                                                    <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
                                                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                                </div>
                                    </ng-template>
                                  </ngb-tab>
                                </ngb-tabset>
                              </div>
                        </div>
                    </div>

            <!-- Tab panes -->
            
        </div>
    </div>
    <!-- Column -->
</div>