<div class="row"  *ngIf="curuserdetails">
    <div class="col-md-12" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Patient'"> 
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Patient search</h3>
                <h6 class="card-subtitle">Type in the full name of the patient</h6>
                    <div class="form-group" [class.has-danger]="searchFailed">
                      <label for="typeahead-http">Search for a patient:</label>
                      <input id="typeahead-http" type="text" class="form-control" [(ngModel)]="patname" placeholder="Patient search" (ngModelChange)="search()"/>
                    </div>

                    <hr>
                    <pre>Number of Patients Found : {{filteredusers.length}}</pre>
  			</div>
        </div>
    


<div class="row">
    <div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Search Result</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let i of filteredusers;let j = index">
                            <td>{{i.name}}</td>
                            <td>{{i.Address}}</td>
                            <td>
                                <input class="form-control" type="text" [(ngModel)]="reason[j]" placeholder="Type Reason">
                            </td>
                            <td> <button type="button" class="btn btn-success" [disabled]="!reason[j]" (click)="senreq(i.$key,j)">Send </button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
