<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Patient Records</h4>
            <h6 class="card-subtitle">List of all the patient records added by current doctor</h6>
            <div class="card-body">
                <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" *ngIf="!key">Add New Record</h4>
            <h4 class="modal-title" *ngIf="key">Edit Record</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form">
              <div class="row">
                <div class="form-group col">
                    <label class="col"> Patient Name</label>
                    <div class="col">
                        <input class="form-control" type="text" value={{curuserdetails.name}} disabled>
                    </div>
                </div>
                <div class="form-group col">
                        <label class="col"> Department</label>
                        <div class="col">
                            <input class="form-control" type="text" value={{selecteddepartment}} disabled>
                        </div>
                </div>
              </div>
              <div class="row">
                    <div class="form-group col">
                        <div class="col">
                            <label> Case Description</label>
                            <textarea class="form-control" rows="3" placeholder="Enter Case History" name="cdescription" [(ngModel)]="cdescription" disabled></textarea>    
                        </div>
                    </div>
              </div>
              <div class="row">
                    <div class="form-group col">
                        <div class="col">
                            <label> Medication</label>
                            <textarea class="form-control" rows="3" placeholder="Enter Prescription" name="medication" [(ngModel)]="medication" disabled></textarea>    
                        </div>
                    </div>
              </div>
              <div class="row">
                    <div class="form-group col">
                        <div class="col">
                            <label> Notes</label>
                            <textarea class="form-control" rows="3" placeholder="Enter Notes" name="notes" [(ngModel)]="notes" disabled></textarea>    
                        </div>
                    </div>
              </div>
            </form>
          </div>
        </ng-template>
  
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date & Time</th>
                            <th>Patient Name</th>
                            <th>Department</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let i of allrecords ">
                            <td>{{getdateandtime(i.created)}}</td>
                            <td>{{getname(i.name)}}</td>
                            <td>{{i.dept}}</td>
                            <td>
                                <button type="button" class="btn btn-warning" (click)="edit(i.$key)" ><i class="fa fa-pencil"></i> View </button>
                                <a class="btn btn-info" target="_blank" href={{i.file}} style="color:#fff;"><i class="fa fa-cloud-download"></i> Download Attachments</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
  
        </div>
    </div>
  </div>