<div class="row" *ngIf="curuserdetails" >
    <div class="col-12" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Doctor'">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Medical Records </h4>
            <h6 class="card-subtitle">Past Medical Records</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Hospital</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="javascript:void(0)">Record #1</a></td>
                            <td>Herman Beck</td>
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                            <td>Hospital 1</td>
                            <td>
                                <div class="label label-table label-success">One Time</div>
                            </td>
                            <td><a href="javascript:void(0)">View Record</a></td>
                        </tr>
                        <tr>
                            <td><a href="javascript:void(0)">Record #2</a></td>
                            <td>Herman Beck</td>
                            <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 16, 2017</span> </td>
                            <td>Hospital 2</td>
                            <td>
                                <div class="label label-table label-success">Recurring</div>
                            </td>
                            <td><a href="javascript:void(0)">View Record</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
