/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';

.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 900px !important;
        margin: 1.75rem auto;
    }
}
