<div class="row" *ngIf="curuserdetails" >
    <div class="col-12" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Patient'" >
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Patient data access</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-Mail</th>
                            <th>Phone No</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <p *ngIf="userrequests.length==0">No Connections found</p>
                        <tr *ngFor="let i of userrequests;">
                            <td>{{getname(i.target)}}</td>
                            <td>{{getmail(i.target)}}</td>
                            <td>{{getphone(i.target)}}</td>
                            <td>{{i.reason}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>