<div class="row" *ngIf="curuserdetails" >
    <div class="col-12" *ngIf="curuserdetails.role !='Admin' &&  curuserdetails.role !='Patient'" >
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Search Result</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Reason</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Herman Beck</td>
                            <td>22</td>
                            <td>
                             Reason for access
                            </td>
                            <td> <button type="button" class="btn btn-success">View</button>&nbsp;<button type="button" class="btn btn-danger">Cancel </button></td>
                        </tr>
                        <tr>
                            <td>Herman Beck</td>
                            <td>22</td>
                            <td>
                             Reason for access
                            </td>
                            <td> <button type="button" class="btn btn-success">View</button>&nbsp;<button type="button" class="btn btn-danger">Cancel </button></td>
                        </tr>
                        <tr>
                            <td>Herman Beck</td>
                            <td>22</td>
                            <td>
                             Reason for access
                            </td>
                            <td> <button type="button" class="btn btn-success">View</button>&nbsp;<button type="button" class="btn btn-danger">Cancel </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>